<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Affichage de l'annonce {{ id }}</title>
</head>
<body>

<p>L'id est {{ id }} et le tag est {{ tag }}</p>

{% for message in app.session.flashbag.get('info') %}
    <p>message flash : {{ message }}</p>
{% endfor %}

</body>
</html>